* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 720px) {
  .imagenInicio1, .imagenInicio2, .imagenInicio3, .imagenInicio4, .imagenInicio5 {
    display: block;
    height: 120px;
  }

  .imagen1, .imagen2, .imagen4, .imagen5 {
    display: flex;
    justify-content: space-around;
  }

  .imagen3 {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 721px) and (max-width: 960px) {
  .imagenInicio1, .imagenInicio2, .imagenInicio3, .imagenInicio4, .imagenInicio5 {
    display: block;
    height: 150px;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1140px) {
  .imagenInicio1, .imagenInicio2, .imagenInicio3, .imagenInicio4, .imagenInicio5 {
    display: block;
    height: 180px;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 1141px) {
  .imagenInicio1, .imagenInicio2, .imagenInicio3, .imagenInicio4, .imagenInicio5 {
    display: block;
    height: 250px;
    margin-top: 20px;
  }
}
/* .fadein {
    animation-delay: 3s;
    animation-duration: 5s;
    animation-name: fadein;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes fadein {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
        z-index: -2;
   }
  } */
.fondo {
  background-image: url(../imagenes/intenciones-inicio.jpg);
  background-size: 100vw;
  background-attachment: fixed;
}

.vacio {
  height: 500px;
  width: 100%;
}

.fondo-superior {
  background-image: url(../imagenes/marauders_bg.jpg);
}

.imagen_central {
  height: 60px;
  display: flex;
  justify-content: center;
}

.dropdown-style {
  background-color: #dcdcdc;
}

.button_font {
  font-family: "Langar", cursive;
}

.buscador {
  display: flex;
  justify-content: end;
}

a, span, h1 {
  text-decoration: none;
  font-family: "Langar", cursive;
}

h1 {
  font-size: 32px;
  text-align: center;
  color: #EAD38A;
  text-shadow: 1px 1px grey;
}

a, span {
  color: black;
}

.inicio-container {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-around;
}

.casas {
  text-align: center;
  margin: 0 10px;
}

.casa1:hover {
  -webkit-transform: scale(1.1) rotateZ(-45deg);
  transform: scale(1.1) rotateZ(-45deg);
  -ms-transform: scale(1.1) rotateZ(-45deg);
}

.casa:hover {
  -webkit-transform: scale(1.1) translate(0, -10px);
  transform: scale(1.1) translate(0, -10px);
  -ms-transform: scale(1.1) translate(0, -10px);
}

.casa2:hover {
  -webkit-transform: scale(1.1) rotateZ(45deg);
  transform: scale(1.1) rotateZ(45deg);
  -ms-transform: scale(1.1) rotateZ(45deg);
}

h2 {
  font-family: "Langar", cursive;
}

.pestana1, .texto1 {
  background-color: #D98880 !important;
  box-shadow: 5px 5px 5px #686868;
}

.pestana2, .texto2 {
  background-color: #A9DFBF !important;
  box-shadow: 5px 5px 5px #686868;
}

.pestana3, .texto3 {
  background-color: #F7DC6F !important;
  box-shadow: 5px 5px 5px #686868;
}

.pestana4, .texto4 {
  background-color: #85C1E9 !important;
  box-shadow: 5px 5px 5px #686868;
}

.pestana5, .texto5 {
  background-color: #EAD38A !important;
  box-shadow: 5px 5px 5px #686868;
}

.contenedor-tarjetas {
  display: flex;
  justify-content: space-around;
}
.contenedor-tarjetas .tarjeta {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 18rem;
  box-shadow: 5px 5px 5px #686868;
}
.contenedor-tarjetas .tarjeta .imagen-tarjeta {
  margin-top: 10px;
}
.contenedor-tarjetas .gry-sec {
  background-color: #9C7900;
}
.contenedor-tarjetas .sly-sec {
  background-color: #5C5C5C;
}
.contenedor-tarjetas .hog-sec {
  background-color: #DEBA47;
}
.contenedor-tarjetas .huf-sec {
  background-color: #5C5C5C;
}
.contenedor-tarjetas .rav-sec {
  background-color: #9A7339;
}

.texto-tarjeta {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  margin: 0;
  z-index: -1;
  color: honeydew;
}

.contenedor-texto-tarjeta {
  display: inline-block;
  position: relative;
}
.contenedor-texto-tarjeta:hover .imagen-tarjeta {
  opacity: 0.17;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  -ms-transition: opacity 500ms;
}
.contenedor-texto-tarjeta:hover .texto-tarjeta {
  z-index: 1;
  opacity: 1;
}

.lookBook {
  text-align: center;
}

.imagen {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.look-container {
  margin: auto;
  display: flex;
}

.contacto {
  margin: 0 10px;
}

span ul li {
  list-style-type: square;
  color: black;
  margin-left: 30px;
}

.hechizos-contenedor {
  display: flex;
  justify-content: center;
}

.hechizo {
  font-family: "Ubuntu", sans-serif;
  padding: 10px;
  margin: 5px;
  box-shadow: 5px 5px 5px #686868;
}
.hechizo:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -ms-transform: scale(1.1);
}

.postalesSeccion {
  margin-bottom: 20px;
}

.carousel-position {
  display: flex;
  justify-content: space-around;
}

.contactoSeccion {
  margin-bottom: 20px;
  background-color: #EAD38A;
}

.pie {
  margin-left: 440px;
  font-family: "Langar", cursive;
  color: darkred;
  font-size: 1.2rem;
}

button {
  font-family: "Ubuntu", sans-serif;
}

.item {
  display: block;
  height: 200px;
}

.varitas {
  font-family: "Langar", cursive;
}

.nav-button:active, .nav-button:hover {
  background-color: #EAD38A;
  color: #FFF;
}

.section-position {
  position: relative;
}

.custom-shape-divider-top-1610211513 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1610211513 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 278px;
}

.custom-shape-divider-top-1610211513 .shape-fill {
  fill: #00000000;
}

/*# sourceMappingURL=style.css.map */
