* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
  font-family: "Ubuntu", sans-serif;
}

@media only screen and (max-width: 720px) {
  * {
    overflow-x: hidden;
  }

  .imagenInicio1, .imagenInicio2, .imagenInicio3, .imagenInicio4, .imagenInicio5 {
    display: block;
    height: 30px;
  }

  .casa:hover {
    -webkit-transform: scale(1.1) translate(0, -3px);
    transform: scale(1.1) translate(0, -3px);
    -ms-transform: scale(1.1) translate(0, -3px);
  }

  .vacio {
    height: 7.5rem;
    width: 100%;
  }

  .flip-card {
    width: 9rem;
    height: 9rem;
  }

  .imagen-poster {
    width: 10rem;
  }

  .container-form {
    width: 90%;
  }

  .contenedor-carousel {
    width: 90%;
  }

  .tarjeta-personaje {
    width: 90%;
  }

  .flip-card-back h3, .flip-card-back p {
    margin: 2rem 0.5rem 0 0.5rem;
  }
  .flip-card-back h3 {
    font-size: 0.8rem;
  }
  .flip-card-back p {
    font-size: 0.5rem;
  }

  .contenedor-iconos {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 721px) and (max-width: 960px) {
  * {
    overflow-x: hidden;
  }

  .imagenInicio1, .imagenInicio2, .imagenInicio3, .imagenInicio4, .imagenInicio5 {
    display: block;
    height: 130px;
  }

  .casa:hover {
    -webkit-transform: scale(1.1) translate(0, -5px);
    transform: scale(1.1) translate(0, -5px);
    -ms-transform: scale(1.1) translate(0, -5px);
  }

  .vacio {
    height: 20rem;
    width: 100%;
  }

  .flip-card {
    width: 13rem;
    height: 13rem;
  }

  .imagen-poster {
    width: 10rem;
  }

  .container-form {
    width: 90%;
  }

  .contenedor-carousel {
    width: 90%;
  }

  .flip-card-back h3, .flip-card-back p {
    margin: 2rem 0.5rem 0 0.5rem;
  }
  .flip-card-back h3 {
    font-size: 0.8rem;
  }
  .flip-card-back p {
    font-size: 0.5rem;
  }

  .contenedor-iconos {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1140px) {
  .imagenInicio1, .imagenInicio2, .imagenInicio3, .imagenInicio4, .imagenInicio5 {
    display: block;
    height: 180px;
    margin-top: 20px;
  }

  .casa:hover {
    -webkit-transform: scale(1.1) translate(0, -10px);
    transform: scale(1.1) translate(0, -10px);
    -ms-transform: scale(1.1) translate(0, -10px);
  }

  .vacio {
    height: 28rem;
    width: 100%;
  }

  .flip-card {
    width: 18.75rem;
    height: 18.75rem;
  }

  .imagen-poster {
    width: 20rem;
  }

  .container-form {
    width: 45%;
  }

  .contenedor-carousel {
    width: 45%;
  }

  .flip-card-back h3, .flip-card-back p {
    margin: 4rem 0.5rem 0 0.5rem;
  }
  .flip-card-back h3 {
    font-size: 1.4rem;
  }
  .flip-card-back p {
    font-size: 1rem;
  }

  .contenedor-iconos {
    display: flex;
    justify-content: right;
  }
}
@media only screen and (min-width: 1141px) {
  .imagenInicio1, .imagenInicio2, .imagenInicio3, .imagenInicio4, .imagenInicio5 {
    display: block;
    height: 250px;
    margin-top: 20px;
  }

  .casa:hover {
    -webkit-transform: scale(1.1) translate(0, -10px);
    transform: scale(1.1) translate(0, -10px);
    -ms-transform: scale(1.1) translate(0, -10px);
  }

  .vacio {
    height: 40rem;
    width: 100%;
  }

  .flip-card {
    width: 18.75rem;
    height: 18.75rem;
  }

  .imagen-poster {
    width: 20rem;
  }

  .container-form {
    width: 45%;
  }

  .contenedor-carousel {
    width: 45%;
  }

  .flip-card-back h3, .flip-card-back p {
    margin: 4rem 0.5rem 0 0.5rem;
  }
  .flip-card-back h3 {
    font-size: 1.4rem;
  }
  .flip-card-back p {
    font-size: 1rem;
  }

  .contenedor-iconos {
    display: flex;
    justify-content: right;
  }
}
.fondo {
  background-image: url(../imagenes/fondo-dos-hp.jpg);
  background-size: 100%;
  background-attachment: fixed;
}

.header-section {
  background-color: #403E3E;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.menu {
  color: whitesmoke;
}
.menu:hover {
  color: #FFDB00 !important;
}

.container-submenu {
  background-color: #403E3E !important;
  border: none;
}

.submenu {
  color: whitesmoke;
  background-color: #403E3E;
}
.submenu:hover {
  color: #FFDB00;
  background-color: black;
}

.boton-busqueda {
  margin-right: 30px;
  margin-left: 10px;
}
.boton-busqueda .texto-boton {
  text-align: center;
  height: 40px;
  margin-top: 5px;
  background-color: #740001;
}
.boton-busqueda .input-busqueda:focus {
  border-color: black;
  box-shadow: 3px 3px 3px black;
}

.navbar-collapse {
  margin-left: 5px;
}

.fondo-superior {
  background: linear-gradient(to bottom, #403E3E, black);
}

.foto-navbar {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 65px;
  height: auto;
}

.dropdown-style {
  background-color: #dcdcdc;
}

a, span, h1 {
  text-decoration: none;
  font-family: "Langar", cursive;
}

h1 {
  font-size: 2rem;
  text-align: center;
  color: black;
  text-shadow: 1px 1px black;
}

.separador {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.foto-separador {
  display: block;
  height: auto;
}

a, span {
  color: black;
}

.inicio-container {
  margin-bottom: 20px;
}

.casa1:hover {
  -webkit-transform: scale(1.1) rotateZ(-45deg);
  transform: scale(1.1) rotateZ(-45deg);
  -ms-transform: scale(1.1) rotateZ(-45deg);
}

.casa2:hover {
  -webkit-transform: scale(1.1) rotateZ(45deg);
  transform: scale(1.1) rotateZ(45deg);
  -ms-transform: scale(1.1) rotateZ(45deg);
}

h2 {
  font-family: "Langar", cursive;
}

.pestanas {
  border-bottom: none !important;
  padding-left: 12px;
}

.pestana1, .texto1 {
  background-color: #740001 !important;
}

.pestana2, .texto2 {
  background-color: #1A472A !important;
}

.pestana3, .texto3 {
  background-color: #FFDB00 !important;
}

.pestana4, .texto4 {
  background-color: #0E1A40 !important;
}

.pestana5, .texto5 {
  background-color: #403E3E !important;
}

.texto1, .texto2, .texto3, .texto4, .texto5 {
  box-shadow: 0 5px 5px black;
}

.pestana1, .pestana2, .pestana3, .pestana4, .pestana5, .hechizo {
  box-shadow: 5px 5px 5px black;
}

.contenedor-tarjetas {
  display: flex;
  justify-content: space-around;
}
.contenedor-tarjetas .tarjeta {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 18rem;
  box-shadow: 5px 5px 5px black;
}
.contenedor-tarjetas .tarjeta .imagen-tarjeta {
  margin-top: 10px;
}
.contenedor-tarjetas .gry-sec {
  background-color: #D3A625;
}
.contenedor-tarjetas .sly-sec {
  background-color: #5D5D5D;
}
.contenedor-tarjetas .hog-sec {
  background-color: #565656;
}
.contenedor-tarjetas .huf-sec {
  background-color: #60605C;
}
.contenedor-tarjetas .rav-sec {
  background-color: #946B2D;
}

.texto-tarjeta {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  margin: 0;
  z-index: -1;
  color: whitesmoke;
}

.contenedor-texto-tarjeta {
  display: inline;
  position: relative;
}
.contenedor-texto-tarjeta:hover .imagen-tarjeta {
  opacity: 0.17;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  -ms-transition: opacity 500ms;
}
.contenedor-texto-tarjeta:hover .texto-tarjeta {
  z-index: 1;
  opacity: 1;
}

.peliculas, .hechizos {
  text-align: center;
}

.look-container {
  margin: auto;
  display: flex;
}

.hechizos-contenedor {
  display: flex;
  justify-content: center;
}

.hechizo {
  background-color: #565656;
  color: whitesmoke;
}

.flip-card {
  perspective: 1000px;
  margin: 5px;
  padding: 5px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  color: whitesmoke;
}

.flip-card-front {
  background-color: black;
  display: flex;
  align-items: center;
}

.flip-card-back {
  background-color: black;
  color: whitesmoke;
  transform: rotateY(180deg);
}
.flip-card-back p, .flip-card-back h3 {
  color: whitesmoke;
}

.postalesSeccion {
  margin-bottom: 20px;
}

.container-tabla {
  width: 90%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.imagen-poster {
  display: flex;
  height: auto;
  margin: 10px auto;
  justify-content: center;
}

td {
  margin-bottom: 35px;
}
td h3 {
  text-align: center;
}
td p {
  text-align: center;
}

.boton-trailer {
  margin: 5px auto;
  font-family: "Ubuntu", sans-serif;
}

.modal-cuerpo {
  background-color: black;
}

.video {
  width: 90%;
  height: 250px;
  display: flex;
  justify-content: space-around;
  margin: 5px;
}

.item {
  display: block;
  height: 200px;
}

.contacto {
  margin: 0 10px;
  display: flex;
  justify-content: center;
}

.nav-button:active, .nav-button:hover {
  background-color: #403E3E;
  color: #FFF;
}

.section-position {
  position: relative;
}

.contactoSeccion {
  margin-bottom: 20px;
}

.contenedor-carousel {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.imagen-carrousel {
  display: block;
  width: 100%;
  height: auto;
}

.container-form {
  margin: 20px;
}

input {
  background-color: #fbfbfb;
  width: 17rem;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #565656;
  margin-top: 5px;
  padding-left: 10px;
  margin-bottom: 5px;
}

textarea {
  background-color: #fbfbfb;
  width: 17rem;
  height: 150px;
}

span {
  color: #565656;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

.titulo-personajes {
  margin-top: 20px;
  text-align: center;
}

.gry-pers:hover {
  background-color: #740001;
}

.sly-pers:hover {
  background-color: #1A472A;
}

.rav-pers:hover {
  background-color: #0E1A40;
}

.huf-pers:hover {
  background-color: #FFDB00;
}
.huf-pers:hover .text-pers {
  color: black;
}

.hog-pers:hover {
  background-color: #403E3E;
}

.tarjeta-personaje {
  background-color: black;
  margin: 10px;
}

.imagen-personajes {
  width: 100px;
  height: auto;
}

.container-personajes {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 10px;
  position: relative;
  border-radius: 3px;
}
.container-personajes .crop {
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}

.footer-section {
  display: flex;
  justify-content: center;
}

.pie {
  font-family: "Langar", cursive;
  background-color: #403E3E;
  color: black;
  font-size: 1.2rem;
  width: 100%;
}

.icono {
  width: 40px;
  height: auto;
  margin: 10px 10px 0 10px;
}

.texto-footer {
  text-align: end;
  font-size: 1rem;
  margin-top: 15px;
}

/*# sourceMappingURL=style.css.map */
