@import 'base/colors';
@import 'base/fonts';
@import 'extensions/mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media only screen and (max-width: 720px) {
    .imagenInicio1, .imagenInicio2, .imagenInicio3, .imagenInicio4, .imagenInicio5 {
        display: block;
        height: 120px;
    }
    .imagen1, .imagen2, .imagen4, .imagen5 {
        display: flex;
        justify-content: space-around;
    }
    .imagen3 {
        display: flex;
        justify-content: center;
    }
}
@media only screen and (min-width: 721px) and (max-width: 960px) {
    .imagenInicio1, .imagenInicio2, .imagenInicio3, .imagenInicio4, .imagenInicio5 {
        display: block;
        height: 150px;
    }
}
@media only screen and (min-width: 961px) and (max-width: 1140px) {
    .imagenInicio1, .imagenInicio2, .imagenInicio3, .imagenInicio4, .imagenInicio5 {
        display: block;
        height: 180px;
        margin-top: 20px;
    }
}
@media only screen and (min-width: 1141px) {
    .imagenInicio1, .imagenInicio2, .imagenInicio3, .imagenInicio4, .imagenInicio5 {
        display: block;
        height: 250px;
        margin-top: 20px;
    }
}
.fondo {
    background-image: url(../imagenes/intenciones-inicio.jpg);
    background-size: 100%;
    background-attachment: fixed;
}
.header-section {
    background-color: $color-background;
    position: fixed;
    width: 100%;
    display: inline;
}
.menu {
    color: $color-gryffindor;
}
.vacio {
    height: 31.25rem;
    width: 100%;
}
.fondo-superior {
    background-image: url(../imagenes/marauders_bg.jpg);
}
.foto-navbar {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 60px;
    height: auto;
}
.imagen_central {
    height: 60px;
    display: flex;
    justify-content: center;
}
.dropdown-style {
    background-color: #dcdcdc;
}
a, span, h1 {
    text-decoration: none;
    font-family: $font-primary;
}
h1 {
    font-size: 2rem;
    text-align: center;
    color: #EAD38A;
    text-shadow: 1px 1px grey;
}
.separador {
    width: auto;
    height: 5px;
    border: 5px solid $color-hogwarts-sec;
    display: flex;
    justify-content: center;
    z-index: 4;
}
a, span {
    color: black;
}
.inicio-container {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-around;
}
.casas {
    text-align: center;
    margin: 0 10px;
}
.casa1:hover {
    @include transform(scale(1.1) rotateZ(-45deg));
}
.casa:hover {
    @include transform(scale(1.1) translate(0,-10px));
}
.casa2:hover {
    @include transform(scale(1.1) rotateZ(45deg));
}
h2 {
    font-family: $font-primary;
}
.pestana1, .texto1 {
    background-color: $color-gryffindor !important;
    box-shadow: 5px 5px 5px #686868;
}
.pestana2, .texto2 {
    background-color: $color-slytherin !important;
    box-shadow: 5px 5px 5px #686868;
}
.pestana3, .texto3 {
    background-color: $color-hufflepuff !important;
    box-shadow: 5px 5px 5px #686868;
}
.pestana4, .texto4 {
    background-color: $color-ravenclaw !important;
    box-shadow: 5px 5px 5px #686868;
}
.pestana5, .texto5 {
    background-color: $color-background !important;
    box-shadow: 5px 5px 5px #686868;
}
.contenedor-tarjetas {
    display: flex;
    justify-content: space-around;
    .tarjeta {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 18rem;
        box-shadow: 5px 5px 5px #686868;
        .imagen-tarjeta {
            margin-top: 10px;
        }
    }
    .gry-sec{
        background-color: $color-gryffindor-sec;
    }
    .sly-sec{
        background-color: $color-slytherin-sec;
    }
    .hog-sec{
        background-color: $color-hogwarts-sec;
    }
    .huf-sec{
        background-color: $color-hufflepuff-sec;
    }
    .rav-sec{
        background-color: $color-ravenclaw-sec;
    }
}
.texto-tarjeta {
    position: absolute;
    top:0;
    left:0;
    padding:10px;
    margin:0;
    z-index: -1;
    color: honeydew;
}
.contenedor-texto-tarjeta {
    display:inline-block;
    position:relative;
    &:hover {
        .imagen-tarjeta{
            opacity: 0.17;
            @include transition (opacity 500ms);
        }
        .texto-tarjeta {
            z-index: 1;
            opacity: 1;
        }
    }
}
.lookBook {
    text-align: center;
}
.imagen {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.look-container {
    margin: auto;
    display: flex;
}
.hechizos-contenedor {
    display: flex;
    justify-content: center;
}
.texto-hechizos {
    font-family: $font-secundary;
    color: #dcdcdc;
}
.flip-card {
    width: 18.75rem;
    height: 18.75rem;
    perspective: 1000px;
    margin: 5px;
    padding: 5px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-front {
    background-color: $color-background;
    display: flex;
    align-items: center;
}
.flip-card-back {
    background-color: $color-hogwarts-sec;
    color: white;
    transform: rotateY(180deg);
}
.postalesSeccion {
    margin-bottom: 20px;
}
.carousel-position {
    display: flex;
    align-items: center;
}
.imagen-carrousel {
    display: block;
    width: 100%;
    height: auto;
}
.video {
    width: 30%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    margin: 5px;
}
.contactoSeccion{
    margin-bottom: 20px;
}
button {
    font-family: $font-secundary;
}
.item {
    display: block;
    height: 200px;
}
.varitas {
    font-family: $font-primary;
}
.contacto {
    margin: 0 10px;
    display: flex;
    justify-content: center;
}
span ul li {
    list-style-type: square;
    color: black;
    margin-left: 30px;
}
.nav-button:active, .nav-button:hover {
    background-color: $color-background;
    color: #FFF;
}
.section-position {
    position: relative;
}
h4, h5, .colocar_nombre, .colocar_email, .colocar_telefono, .colocar_asunto, .colocar_mensaje, .texto_boton, .aviso {
    font-family: $font-secundary;
}
.redes {
    
}
.formulario {
    width: 57rem;
}
.contact_form{ 
    width: 57rem; 
    height: auto;
    margin: 40px;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: $color-background; 
    padding-left: 30px;
}
input{
    background-color: #fbfbfb; 
    width: 25rem; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: $color-hogwarts-sec; 
    margin-top: 5px;  
    padding-left: 10px;
    margin-bottom: 5px; 
}
textarea{
    background-color: #fbfbfb; 
    width: 25rem; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: $color-hogwarts-sec; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 10px; 
    padding-top: 15px; 
}
label{
    display: block; 
    float: center;  
}
.button-form{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 10px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: $color-hogwarts-sec; 
    border-color: $color-hogwarts-sec; 
    border-style: solid; 
    border-radius: 10px;  
    width: 25rem;   
    cursor: pointer;
}
button p{
    color: #fff;
    margin-top: 10px;
}
span{
    color: $color-hogwarts-sec; 
}
.aviso{
    font-size: 13px;  
    color: #0e0e0e;  
}
h4{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: $color-hogwarts-sec;
}
h5{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;   
}
p{
    font-size: 14px; 
    color: #0e0e0e; 
}
.formulario input:focus{
    outline:0;
    border: 1px solid $color-background;
}
.formulario textarea:focus{
    outline:0;
    border: 1px solid $color-background;
}
.footer-section {
    display: flex;
    justify-content: center;
}
.pie {
    font-family: $font-primary;
    color: black;
    font-size: 1.2rem;
}