$color-gryffindor: #D98880;
$color-slytherin: #A9DFBF;
$color-hufflepuff: #F7DC6F;
$color-ravenclaw: #85C1E9;
$color-background: #EAD38A;
$color-gryffindor-sec: #9C7900;
$color-slytherin-sec: #5C5C5C;
$color-hogwarts-sec: #DEBA47;
$color-hufflepuff-sec: #5C5C5C;
$color-ravenclaw-sec: #9A7339;