$color-gryffindor: #740001;
$color-slytherin: #1A472A;
$color-hufflepuff: #FFDB00;
$color-ravenclaw: #0E1A40;
$color-background: #403E3E;
$color-gryffindor-sec: #D3A625;
$color-slytherin-sec: #5D5D5D;
$color-hogwarts-sec: #565656;
$color-hufflepuff-sec: #60605C;
$color-ravenclaw-sec: #946B2D;