@mixin transform($propiedad) {
    -webkit-transform: $propiedad;
    transform: $propiedad;
    -ms-transform: $propiedad;
}
@mixin transition($propiedad) {
    -webkit-transition: $propiedad;
    transition: $propiedad;
    -ms-transition: $propiedad;
}